<div>
    <div class="Title1">
        SMEP INTEGRATION
    </div>
    <div class="lineDivider"></div>
    <div class="Text1">
        Gouvis Engineering is uniquely structured into product specific teams, ensuring your project is designed and coordinated with the highest level of knowledge and experience. The Gouvis team of SMEP experts understands that efficient system operation is vital to project success. Our comprehensive audits, evaluations, inspections, code calculations and recommendations are aimed at one goal: to achieve  optimal life cycle costing.         
    </div>

</div>
