
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="menuClick()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<div class = "MenuBar">
    <div class="logo">
            <img src='assets/Medias/Images/CompanyLogo.svg'/>
            <img src='assets/Medias/Images/CompanyLogoSmall.svg'/>
    </div>
        
    <div class="menu">
        <img src="assets/Medias/Images/list.svg" (click)="menuClickOpen()"/>
    </div>
</div>




