<div class="footer">
    <div class="gridFooter">
        <div class="part first">
            <div class="title">
                GOUVIS ENGINEERING
            </div>
            <div class="content">
                <p>Corporate HQ</p>
                <p>15 Studebaker</p>
                <p>Irvine, California 92618</p>
                <p>Tel 949.752.1612</p>
                <p><a href="https://www.google.com/maps/place/Gouvis+Engineering/@33.6499164,-117.7178383,17z/data=!3m1!4b1!4m5!3m4!1s0x80dcdef847dfee2f:0x7aeea22a0027e43c!8m2!3d33.6499164!4d-117.7156496">Direction</a></p>
            </div>
        </div>
        <div class="part">
            <div class="title">
                ABOUT US
            </div>
            <div class="content">
                Gouvis Engineering has been a trusted partner in innovation, quality and service since 1960.
                <div class="space1"></div>
                <p><a href="https://www.google.com">Contact Us</a></p>
            </div>
        </div>
        <div class="part">
            <div class="title">
                OUR SERVICES
            </div>
            <div class="content thirdF">
                <div class = "middleThirdF">
                    <ul>
                        <li>+ Structural</li>
                        <li>+ Mechanical</li>
                        <li>+ Electrical</li>
                        <li>+ Plumbing</li>
                        <li>+ Title 24</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="part">
            <div class="title">
                #FOLLOWUS
            </div>
            <div class="content">
                Follow our social media pages, view our projects and stay up to date with our latest news!
                <div class="socialMedia">
                    <div class="facebook" onclick="location.href='https://www.facebook.com/GouvisEngineering/'"></div>
                    <div class="instagram"  onclick="location.href='https://www.instagram.com/Gouvis.Engineering/'"></div>
                    <div class="twitter" onclick="location.href='https://twitter.com/GouvisGroup'"></div>
                    <div class="linkedin" onclick="location.href='https://www.linkedin.com/company/gouvis-engineering'"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="Copyright">Copyright 2019 Gouvis Engineering, All Rights Reserved</div>
</div>
