<!--The content below is only a placeholder and can be replaced.-->
<div>
    <app-logo-home-page></app-logo-home-page>
    <div class="bannerImagesHomePage">
      <app-banner></app-banner>
    </div>
    <div class="Panel1">
        <app-home-page-panel1></app-home-page-panel1>
    </div>
    

    <app-first-class></app-first-class>

    <app-services-words></app-services-words>

    <app-cards></app-cards>
    
    <app-video-intro></app-video-intro>
    
    <div>
            <div class="Over55Years">Over 55 years of design excellence</div>
            <div class="Over55YearsLine"></div>
    </div>
    <div>
        <app-grid-images></app-grid-images>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>

<router-outlet></router-outlet>
