<!--The content below is only a placeholder and can be replaced.-->
<div>
    <div class="bannerImagesHomePage">
      <app-banner></app-banner>
    </div>
    <div class="firstClass"  >
        <!--[ngStyle]="firstClass"-->
        1<sup>st</sup> Class Service. World Class Clients.
    </div>
    <div class="mottoHomePage">
        Our technical expertise and professional integrity allow us to provide value engineered SMEP solutions for residential and commercial projects.
    </div>

    <div class="houseFrame">
        <div>
            <div>
                <img src = "/assets/Medias/Images/ServicesIconsHomePage/construction-icon.svg"/>
            </div>
            <div>
                <p>Structural Design</p>
            </div>
        </div>
        <div>
            <div>
                <img src = "/assets/Medias/Images/ServicesIconsHomePage/mechanical-icon.svg"/>
            </div>
            <div>
                <p>Mechanical Design</p>
            </div>
        </div>
        <div>
            <div>
                <img src = "/assets/Medias/Images/ServicesIconsHomePage/electrical-icon.svg"/>
            </div>
            <div>
                <p>Electrical Design</p>
            </div>
        </div>
        <div>
            <div>
                <img src = "/assets/Medias/Images/ServicesIconsHomePage/plumbing-icon.svg"/>
            </div>
            <div>
                <p>Plumbing Design</p>
            </div>
        </div>
    </div>
    
    <div class="videoBackGround">
        <div>
                <div>OUR PROFESSION</div>
                <app-quote-block></app-quote-block>
        </div>
        <div>
                <iframe width="900" height="600" src="https://www.youtube.com/embed/hbET2TKiaEI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
       
    </div>
</div>

<router-outlet></router-outlet>
