<div class=EffeciencyBanner>
    <div class="Effeciency">
        <p>WHERE EFFICIENCY MEETS INGENUITY</p>
    </div>
    <div class="LineDivider"></div>
    <div class="Text1">
        Our team of engineers are focused on efficiency and economy by utilizing flexibility, exploring design alternatives without compromising code requirements and maintaining our client's budget. 
    </div>
    <div class="Text2">
            We are available to resolve issues immediately by accessing your plans on our online construction document system. Signed letters of compliance are available almost instantaneously, saving your field personnel valuable time and money.
    </div>
</div> 
