<div>
    <div class="homePageBottomShow">
        <div class="picture1">
            <div class="TextDecor1">
                <div class="TextDecor2">
                    <div class="text1">ABC House 3.0</div>
                    <div class="textDivider1"></div>
                    <div class="text1">NAHB Best in Green Interiors Project and ASCE Sustainable Engineering Project of the Year / PCBC Grand Award: Best Zero Net Energy Home Design</div>
                </div>
            </div>
        </div >
        <div class="picture2">        
            <div class="TextDecor1">
                <div class="TextDecor2">
                    <div class="text1">WALLIS RANCH</div>
                    <div class="textDivider1"></div>
                    <div class="text1">PCBC Grand Award: Residential Housing Community of the Year</div>
                </div>
            </div>
        </div>
        <div class="picture3">
            <div > </div>
        </div>
        <div class="picture4">
            <div> </div>
        </div>
        <div class="picture5">
               
                <div class="TextDecor1">
                        <div class="TextDecor2">
                            <div class="text1">CARLISLE AT PARASOL PARK</div>
                            <div class="textDivider1"></div>
                            <div class="text1"> PCBC Grand Award: Best Single Family Detached Home</div>
                        </div>
                    </div>
        </div>
        <div class="picture6">
                <div class="TextDecor1">
                        <div class="TextDecor2">
                            <div class="text1">ROYAL OAKS COURTYARD VILLAS</div>
                            <div class="textDivider1"></div>
                            <div class="text1">PCBC Merit Award: Single Family Detachede</div>
                        </div>
                    </div>
        </div>
        <div class="picture7">
                <div class="TextDecor1">
                        <div class="TextDecor2">
                            <div class="text1">SKYE</div>
                            <div class="textDivider1"></div>
                            <div class="text1">NAHB Platinum and NAHB Gold / PCBC Award of Merit: Best Single Family Detached Home / PCBC Grand Award: Residential Housing Project of the Year</div>
                        </div>
                    </div>
        </div>
        <div class="picture8">
                <div class="TextDecor1">
                        <div class="TextDecor2">
                            <div class="text1">REVELLE AT CLANCY LANE</div>
                            <div class="textDivider1"></div>
                            <div class="text1">PCBC Grand Award: Best Single Family Detached</div>
                        </div>
                    </div>
        </div>
        <div class="picture9">
            <div> </div>
        </div>
    </div>
</div>
