<div class="Panel1">
    <div class= "PanelText">
        <div class="PanelTextUnder">

            <div class="Panel1Text1">
                SMEP INTEGRATION
            </div>

            <div class="Panel1Divider">
            </div>

            <div class="Panel1Text1">
                SIMPLIFIED
            </div>
            
            <div class="Panel1Text2">
                Our technical expertise and design efficiency allow us to provide value engineered SMEP solutions for residential and commercial projects throughout the country.
            </div>
        </div>
    </div>
    <div class="Panel1Image">

    </div>
</div>
