<div class = "CARDS">
    <div class="card1">
        <div class= card>
            <div class="ImageIcon">
                <div class="image1">
                    <img src="/assets/Medias/Images/ServicesIconsHomePage/apartment.png"/>
                </div>
            </div>
            <div class="Title">
                <p>STRUCTURAL</p>
            </div>

        </div>

        <div class="Text">
            <div class="Text1">
                <ul>
                    <li>On grade or Elevated Post-Tension Slab</li>
                    <li>On grade or Elevated Conventional Slab</li>
                    <li>Piles & Caissons</li>
                    <li>Matt Concrete</li>
                    <li>Floor & Roof System</li>
                    <li>Walk Through Observation</li>
                    <li>Construction Administrative Service</li>
                    <li>Field Inquiry and Response</li>
                </ul>
            </div>
            <div class="Text2 Text21">
                <p>We offer expertise in the analysis and engineering of:</p>
            </div>
            <div class="Text3">
                <ul>
                    <li>Concrete (Pre-Cast & Cast in Place)</li>
                    <li>Light Gauge Steel</li>
                    <li>Masonry</li>
                    <li>Steel </li>
                    <li>Wood</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card1">
        <div class="card">
            <div class="ImageIcon">
                <div class="image1">
                <img src="/assets/Medias/Images/ServicesIconsHomePage/mechanical_fan.png"/>
                </div>
            </div>
            <div class="Title">
                <p>MECHANICAL</p>
            </div>

        </div>

        <div class="Text">
            <div class="Text1">
                <ul>
                    <li>Ventilation Systems</li>
                    <li>Heating and Cooling</li>
                    <li>HVAC Controls & Distribution</li>
                    <li>Thermal Envelope</li>
                    <li>Chilled and Cooling Water System</li>
                    <li>Humidification/Dehumidification</li>
                    <li>Indoor Air Quality</li>
                    <li>Energy Compliance Calculations per Local Juristiction (IECC/T-24)</li>
                </ul>
            </div>
            <div class="Text2 Title24">
                Title 24
            </div>
            <div class="Title24Text">
                <p>Our certified analysts are well versed in Residential and Non-Residential code standards. Our team is trained in compliance approaches and produces all necessary energy analysis documentation required to meet the California Building Energy Efficiency Standards. We select cost-effective energy design measures based on the highest code impact at the lowest cost to the builder.</p>            
            </div>
        </div>
    </div>

    <div class="card1">
        <div class="card">
            <div class="ImageIcon">
                <div class="image1">
                <img src="/assets/Medias/Images/ServicesIconsHomePage/light_bulb_icon_white.png"/>
                </div>
            </div>
            <div class="Title">
                <p>ELECTRICAL</p>
            </div>

        </div>

        <div class="Text">
            <ul>
                <li>Power Distribution</li>
                <li>Interior and Exterior Lighting Design/Photometric Study</li>
                <li>Emergency Power System</li>
            </ul>
        </div>
    </div>

    <div class="card1">
        <div class="card">
            <div class="ImageIcon">
                <div class="image1">
                <img src="/assets/Medias/Images/ServicesIconsHomePage/plumbing_pipe_white.png"/>
                </div>
            </div>
            <div class="Title">
                <p>PLUMBING</p>
            </div>

        </div>

        <div class="Text">
            <div class="Text1">
                <ul>
                    <li>Hot/Cold Water Distribution System</li>
                    <li>Sanitary Sewer Distribution System</li>
                    <li>Storm Water Distribution System</li>
                    <li>Gas/Fuel Distribution System</li>
                    <li>Oil/Grease Separators</li>
                    <li>Pressure Booster Pumps</li>
                </ul>
            </div>
        </div>
    </div>
</div>