.CARDS{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2vw;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 70%;
}

.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.card{
    padding: 2vw;
}

.Text{
    margin-top: 2vh;
    border-right: 1px rgb(179, 179, 179) solid;
    font-family: "Avenir-font";
    padding-right: 2vw;
    height: 600px;
}

.ImageIcon{
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: #b1c147;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.image1{
    margin: auto;
    width: 50px;
    height:50px;
}

.ImageIcon > div> img{
    width: 50px;
    height:50px;
    margin: auto;
}

.Title{
    font-family: 'Avenir-bold-font';
    color: white;
    background-color: #b1c147;
    margin: auto;
    margin-top: 2vh;
    text-align: center;
    width: 80%;
    padding: .5vh 1vw .5vh 1vw;
    font-size: .75em;
}

ul{
    list-style-type: disc;
}

.Text21{
    font-family: 'Avenir-bold-font';
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.Title24{
    font-family: 'Avenir-bold-font';
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}

.Title24Text{
    text-align: center;
}

@media only screen and (max-width: 1200px){
    .CARDS{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2vw;
        grid-row-gap: 2vh;
        margin: auto;
        margin-top: 10vh;
        margin-bottom: 10vh;
        width: 90%;
    } 

    .Title{
        display: none;
        border: none;
        height: auto;

    }

    .Text{
        border: none;
        height: auto;
    }

    .card1{
        align-items: center;
        background: whitesmoke;
        padding: 10px;
    }


    
    ul {
        list-style-position: inside;
     }

}

@media only screen and (max-width: 840px){
    .CARDS{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 2vw;
        grid-row-gap: 10vh;
        margin: auto;
        margin-top: 10vh;
        margin-bottom: 10vh;
        width: 90%;
    }


}

