<div class="RibbonTile1">
    <div class="firstClass"  >
        <!--[ngStyle]="firstClass"-->
        1<sup>st</sup> Class Service. World Class Clients.
    </div>
    <div class="lineBreak1">
    </div>
    <div class="mottoHomePage">
        Gouvis Engineering Consulting Group delivers first class engineering services for many of the largest builders and architects throughout the country. With a tenured staff of over 100 employees company-wide, we have the resources and workforce to meet any schedule requirement.
    </div>
</div>
